<footer class="footer">
  <div class="footer-section">

    <div class="footer-socials">
      <a href="/" class="footer-logo">
        <svg>
          <use href="../img/icons.svg#ic-logo" />
        </svg>
      </a>
      <ul class="footer-social-list">
        <li class="footer-social-item">
          <a href="https://www.facebook.com/" target="_blank">
            <svg>
              <use href="../img/icons.svg#ic-facebook" />
            </svg>
          </a>
        </li>
        <li class="footer-social-item">
          <a href="https://www.instagram.com/" target="_blank">
            <svg>
              <use href="../img/icons.svg#ic-instagram" />
            </svg>
          </a>
        </li>
        <li class="footer-social-item">
          <a href="https://x.com/" target="_blank">
            <svg>
              <use href="../img/icons.svg#ic-x" />
            </svg>
          </a>
        </li>
        <li class="footer-social-item">
          <a href="https://www.linkedin.com/" target="_blank">
            <svg>
              <use href="../img/icons.svg#ic-linkedin" />
            </svg>
          </a>
        </li>
        <li class="footer-social-item">
          <a href="https://www.youtube.com/" target="_blank">
            <svg>
              <use href="../img/icons.svg#ic-youtube" />
            </svg>
          </a>
        </li>
      </ul>
    </div>

    <div class="footer-navigation">
      <nav class="footer-nav">
        <a href="#about-us">About us</a>
        <a href="#benefits">Benefits</a>
        <a href="#gallery">Gallery</a>
        <a href="#testimonials">Testimonials</a>
        <a href="#contacts">Contacts</a>
      </nav>
    </div>

  </div>

  <p class="footer-copy">© 2025 Handmade Jewelry. All rights reserved.</p>
</footer>