<footer class="footer">
  <div class="container">
    <div class="footer-section">

      <div class="footer-socials">
        <a href="index.html" class="footer-logo">
          <svg>
            <use href="img/icons.svg#ic-logo" />
          </svg>
        </a>
        <ul class="footer-social-list">
          <li class="footer-social-item">
            <a href="https://www.facebook.com/" target="_blank">
              <svg>
                <use href="img/icons.svg#ic-facebook" />
              </svg>
            </a>
          </li>
          <li class="footer-social-item">
            <a href="https://www.instagram.com/" target="_blank">
              <svg>
                <use href="img/icons.svg#ic-instagram" />
              </svg>
            </a>
          </li>
          <li class="footer-social-item">
            <a href="https://x.com/" target="_blank">
              <svg>
                <use href="img/icons.svg#ic-x" />
              </svg>
            </a>
          </li>
          <li class="footer-social-item">
            <a href="https://www.linkedin.com/" target="_blank">
              <svg>
                <use href="img/icons.svg#ic-linkedin" />
              </svg>
            </a>
          </li>
          <li class="footer-social-item">
            <a href="https://www.youtube.com/" target="_blank">
              <svg>
                <use href="img/icons.svg#ic-youtube" />
              </svg>
            </a>
          </li>
        </ul>
      </div>

      <nav class="footer-nav">
        <ul class="footer-nav-list">
          <li><a href="#about-us">About us</a></li>
          <li><a href="#benefits">Benefits</a></li>
          <li><a href="#gallery">Gallery</a></li>
          <li><a href="#testimonials">Testimonials</a></li>
          <li><a href="#contacts">Contacts</a></li>
        </ul>
      </nav>

    </div>

    <p class="footer-copy">&#169; 2025 Handmade Jewelry. All rights reserved.</p>
  </div>
</footer>