<section class="gallery section" id="gallery">
  <div class="container">
    <h2 class="gallery-title">Jewelry Showcase</h2>
    <p class="gallery-text">Discover the beauty of our handcrafted jewelry in style.</p>
    <ul class="gallery-list">
      <li class="gallery-item item-1">
        <picture>
          <source media="(min-width: 1440px)" srcset="/img/gallery-img1-desk@1x.jpg 1x, /img/gallery-img1-desk@2x.jpg 2x" />
          <source media="(min-width: 768px)" srcset="/img/gallery-img1-tab@1x.jpg 1x, /img/gallery-img1-tab@2x.jpg 2x" />
          <source media="(max-width: 767px)" srcset="/img/gallery-img1-mob@1x.jpg 1x, /img/gallery-img1-mob@2x.jpg 2x" />
          <img src="/img/gallery-img1-desk@1x.jpg" srcset="/img/gallery-img1-desk@1x.jpg 1x, /img/gallery-img1-desk@2x.jpg 2x" 
          class="gallery-img"
          alt="stone chain"
          loading="lazy"
          width="640" 
          height="640">
        </picture>
      </li>
      <li class="gallery-item item-2">
        <picture>
          <source media="(min-width: 1440px)" srcset="/img/gallery-img2-desk@1x.jpg 1x, /img/gallery-img2-desk@2x.jpg 2x" />
          <source media="(min-width: 768px)" srcset="/img/gallery-img2-tab@1x.jpg 1x, /img/gallery-img2-tab@2x.jpg 2x" />
          <source media="(max-width: 767px)" srcset="/img/gallery-img2-mob@1x.jpg 1x, /img/gallery-img2-mob@2x.jpg 2x" />
          <img src="/img/gallery-img2-desk@1x.jpg" srcset="/img/gallery-img2-desk@1x.jpg 1x, /img/gallery-img2-desk@2x.jpg 2x"
          class="gallery-img" 
          alt="stone pendant" 
          loading="lazy"
          width="640" 
          height="426">
      </li>
      <li class="gallery-item item-3">
        <picture>
          <source media="(min-width: 1440px)" srcset="/img/gallery-img3-desk@1x.jpg 1x, /img/gallery-img3-desk@2x.jpg 2x" />
          <source media="(min-width: 768px)" srcset="/img/gallery-img3-tab@1x.jpg 1x, /img/gallery-img3-tab@2x.jpg 2x" />
          <source media="(max-width: 767px)" srcset="/img/gallery-img3-mob@1x.jpg 1x, /img/gallery-img3-mob@2x.jpg 2x" />
          <img src="/img/gallery-img3-desk@1x.jpg" srcset="/img/gallery-img3-desk@1x.jpg 1x, /img/gallery-img3-desk@2x.jpg 2x"
          class="gallery-img" 
          alt="stone bracelet" 
          loading="lazy"
          width="640" 
          height="426">
      </li>
      <li class="gallery-item item-4">
        <picture>
          <source media="(min-width: 1440px)" srcset="/img/gallery-img4-desk@1x.jpg 1x, /img/gallery-img4-desk@2x.jpg 2x" />
          <source media="(min-width: 768px)" srcset="/img/gallery-img4-tab@1x.jpg 1x, /img/gallery-img4-tab@2x.jpg 2x" />
          <source media="(max-width: 767px)" srcset="/img/gallery-img4-mob@1x.jpg 1x, /img/gallery-img4-mob@2x.jpg 2x" />
          <img src="/img/gallery-img4-desk@1x.jpg" srcset="/img/gallery-img4-desk@1x.jpg 1x, /img/gallery-img4-desk@2x.jpg 2x"
          class="gallery-img" 
          alt="clay earrings" 
          loading="lazy"
          width="640" 
          height="640">
      </li>
    </ul>
  </div>
</section>
