<section class="testimonials section">
  <div class="container testimonials-container">
    <h2 class="testimonials-title">Customer testimonials</h2>

    <p class="testimonials-text">
      Absolutely love my new earrings! They are stunning.
    </p>

    <ul class="testimonials-list">
      <li class="testimonials-item testimonials-image">
        <img
          src="/img/testimonials-img1-desk@1x.jpg"
          alt="Woman wearing earrings"
        />
      </li>

      <li class="testimonials-item testimonials-image">
        <img
          src="/img/testimonials-img2-desk@1x.jpg"
          alt="Man wearing necklace"
        />
      </li>

      <li class="testimonials-item testimonials-card">
        <div class="testimonials-stars">
          <svg class="testimonials-star">
            <use href="/img/icons.svg#ic-star-fill"></use>
          </svg>
          <svg class="testimonials-star">
            <use href="/img/icons.svg#ic-star-fill"></use>
          </svg>
          <svg class="testimonials-star">
            <use href="/img/icons.svg#ic-star-fill"></use>
          </svg>
          <svg class="testimonials-star">
            <use href="/img/icons.svg#ic-star-fill"></use>
          </svg>
          <svg class="testimonials-star">
            <use href="/img/icons.svg#ic-star-fill"></use>
          </svg>
        </div>

        <p class="testimonials-review">
          “Each piece tells a story, and I love mine!”
        </p>
        <p class="testimonials-name">Thomas Mans</p>
      </li>
      <li class="testimonials-item testimonials-card">
        <div class="testimonials-stars">
          <svg class="testimonials-star">
            <use href="/img/icons.svg#ic-star-fill"></use>
          </svg>
          <svg class="testimonials-star">
            <use href="/img/icons.svg#ic-star-fill"></use>
          </svg>
          <svg class="testimonials-star">
            <use href="/img/icons.svg#ic-star-fill"></use>
          </svg>
          <svg class="testimonials-star">
            <use href="/img/icons.svg#ic-star-fill"></use>
          </svg>
          <svg class="testimonials-star">
            <use href="/img/icons.svg#ic-star-stroke"></use>
          </svg>
        </div>

        <p class="testimonials-review">
          “The craftsmanship is exquisite, and I feel unique wearing it.”
        </p>
        <p class="testimonials-name">Jane Edison</p>
      </li>
            
      <li class="testimonials-item testimonials-image">
        <img
          src="/img/testimonials-img3-desk@1x.jpg"
          alt="Hands holding coffee cup"
        />
      </li>

      <li class="testimonials-item testimonials-image">
        <img
          src="/img/testimonials-img4-desk@1x.jpg"
          alt="Hands holding ring"
        />
      </li>
    </ul>
    </ul>
  </div>
</section>
