.about-us.section {
  padding-block: 56px;
}

.about-us .container {
  display: flex;
  flex-direction: column;
  gap: 32px;

  align-items: center;
  justify-content: center;
}

.about-us-img {
  width: 335px;
  height: 335px;
}

.about-description {
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.about-title {
  font-family: 'Sora', sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  width: 100%;
}
.about-text {
  /* font-family: 'Mulish', sans-serif; */
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
}
.about-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.about-item {
  display: flex;
  /* font-family: 'Mulish', sans-serif; */
  font-weight: 700;
  font-size: 18px;
  line-height: 1.5;
}
.about-icon {
  margin-right: 8px;
}
.about-item-text {
}

@media only screen and (min-width: 768px) {
  .about-us.section {
    padding-block: 112px;
  }

  .about-us-img {
    width: 704px;
    height: 456px;
  }
}

@media only screen and (min-width: 1440px) {
  .about-us.section {
    /* background-color: #d8d8d8; */
    /* padding: 0; */
  }

  .about-us .container {
    flex-direction: row;
    align-items: center;
  }

  .about-title {
    font-size: 48px;
  }

  .about-us-img {
    width: 640px;
    height: 456px;
  }
  .about-img {
    flex-shrink: 0;
  }
}
