html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Mulish', sans-serif;
  background-color: #fff;
  color: #000;
  line-height: 1.5;
}

body.no-scroll {
  overflow: hidden;
}

.section {
  padding-block: 64px;
}
