.footer {
    padding-block: 80px;
}

.footer-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-socials {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 64px;
    width: 100%;
    margin-bottom: 64px;
}

.footer-logo {
    display: block;
    width: 217px;
    height: 93px;
    color: #2b1a1a;
}

.footer-logo svg {
    width: 100%;
    height: 100%;
}

.footer-social-list {
    display: flex;
    justify-content: center;
    gap: 12px;
    align-items: center;
}

.footer-social-item {
    display: flex;
    align-items: center;
    padding: 6px;
}

.footer-social-item a {
    display: flex;
    align-items: center;
    color: #2b1a1a;
    transition: opacity 0.2s cubic-bezier(0.17, 0.67, 0.83, 0.67);
}

.footer-social-item a,
.footer-social-item a:visited {
    color: #2b1a1a;
}

.footer-social-item a:hover,
.footer-social-item a:focus {
    opacity: 0.6;
}

.footer-social-item svg {
    width: 32px;
    height: 32px;
    fill: currentColor;
}

.footer-nav {
    width: 100%;
    margin-bottom: 32px;
}

.footer-nav-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.footer-nav-list a {
    font-family: "Mulish", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
    color: #000;
    transition: opacity 0.2s cubic-bezier(0.17, 0.67, 0.83, 0.67);
}

.footer-nav-list a,
.footer-nav-list a:visited {
    color: #000;
}

.footer-nav-list a:hover,
.footer-nav-list a:focus {
    opacity: 0.6;
}

.footer-copy {
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    color: #2b1a1a;
    margin: 0 16.5px;
    padding-top: 24px;
    border-top: 1px solid rgba(43, 26, 26, 0.15);
}

@media screen and (min-width: 768px) {
    .footer-section {
        margin: 0 64px;
    }

    .footer-socials {
        gap: 32px;
        margin-bottom: 64px;
    }

    .footer-logo {
        width: 342px;
        height: 146px;
    }

    .footer-copy {
        margin: 0 64px;
        padding-top: 24px;
    }
}

@media screen and (min-width: 1440px) {
    .footer-section {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        max-width: 1312px;
        margin: 0 64px;
    }

    .footer-socials {
        align-items: flex-start;
        gap: 32px;
        width: auto;
        margin-bottom: 0;
    }

    .footer-logo {
        width: 84px;
        height: 36px;
    }

    .footer-social-list {
        justify-content: flex-start;
    }

    .footer-social-item svg {
        width: 24px;
        height: 24px;
    }

    .footer-nav {
        width: auto;
        margin-bottom: 24px;
    }

    .footer-nav-list {
        align-items: flex-start;
        gap: 32px;
    }

    .footer-copy {
        margin: 0 64px;
        padding-top: 24px;
    }
}